<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
import {mdiHeartOutline,
        mdiCursorDefaultClickOutline} from '@mdi/js'

</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton><v-icon :icon="mdiHeartOutline"></v-icon> Love me
        <template v-slot:tail>
          Tail
        </template></FancyButton>
      </v-col>
      <v-col>
        <FancyButton>Click me
          <template #tail>
          My Tail
          <v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>
        </template></FancyButton>
      </v-col>
    </v-row>
  </v-container>
</template>